.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.header {
  font-size: 2.5rem;
  font-weight: 700;
  color: #585858;
  margin: 6rem auto 0.5rem auto;
  text-align: center;
}

.header-bar {
  width: 4rem;
  height: 3px;
  background-color: #04dbe2;
}

.header-bar + p {
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 950px) {
  #home #main-nav .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
  }
  #home h1 {
    font-size: 2.5rem;
  }
  #about .bg-light .container .img-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .bg-light .container .img-wrapper .img {
    width: 65%;
  }
  #about .bg-light .container .img-wrapper .img img {
    padding: 2rem;
  }
  #about .bg-light .container .img-wrapper .about-info p {
    padding-top: 0;
  }
}

@media (max-width: 800px) {
  #about .container.flex .skills {
    width: 100%;
  }
  #about .container.flex .skills .skills-item {
    font-size: 1rem;
  }
  #portfolio .items {
    width: 90%;
    margin: 0 auto 10rem auto;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #portfolio .items .item-text-title {
    font-size: 1.3rem;
  }
  #contact .container .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact .container .contact-info div {
    width: 100%;
    padding: 2rem 1rem;
    margin: 1rem;
  }
  #contact .container .contact-info div p {
    padding: 0 1rem;
    font-size: 1.5rem;
  }
  #footer p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  #home h1 {
    font-size: 2rem;
  }
  #home #main-nav {
    height: 3.5rem;
  }
  #home #main-nav .nav {
    position: absolute;
    height: 30vh;
    top: 3.5rem;
    width: 100%;
    background-color: #1a1919;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-transform: translateY(-170%);
            transform: translateY(-170%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  #home #main-nav .nav a {
    font-size: 1.2rem;
  }
  #home #main-nav .burger {
    display: block;
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }
  #home #main-nav .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  #about .bg-light .container .img-wrapper {
    width: 100%;
  }
  #about .bg-light .container .img-wrapper .img {
    width: 100%;
  }
  #about .bg-light .container .img-wrapper .img img {
    padding: 1rem;
  }
  #about .bg-light .container .img-wrapper .about-info {
    border: none;
    width: 100%;
  }
  #about .container.flex .skills {
    width: 100%;
  }
  #about .container.flex .skills .skills-item {
    width: 100%;
    font-size: 1.2rem;
  }
  #portfolio .items {
    width: 90%;
    margin: 0 auto 4rem auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  #contact .container form .text-fields {
        grid-template-areas: 'name' 'subject' 'email' 'phone' 'message';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  #contact .container .contact-info {
    padding: 0;
  }
  #contact .container .contact-info div p {
    font-size: 1.1rem;
  }
  #footer .footer-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #footer .footer-content p {
    display: none;
  }
  #footer .footer-content .social {
    margin-left: 15%;
  }
  #footer .footer-content .social .fab {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  #home h1 {
    font-size: 1.4rem;
  }
  #about .container.flex .skills .skills-item {
    font-size: 1rem;
  }
  #portfolio .items .item-text-title {
    font-size: 1.1rem;
  }
  #portfolio .items .item-text-category {
    font-size: 1rem;
  }
  #portfolio .items .item .social a {
    font-size: 1rem;
  }
  #footer .footer-content .social .fab {
    font-size: 2.5rem;
  }
}

@media (max-height: 375px) {
  #home .btn {
    margin-top: 2rem;
  }
  .header {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .header-bar + p {
    margin-top: 0;
  }
  #portfolio .items .item-text-title {
    font-size: 1.1rem;
  }
  #portfolio .items .item-text-category {
    font-size: 0.9rem;
  }
  #portfolio .items .item .social a {
    font-size: 1rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.5;
  font-size: 1.1rem;
  background-color: #fff;
  color: #1a1919;
}

p {
  margin: 1rem auto;
  padding: 2rem;
}

a {
  text-decoration: none;
  margin: 1rem;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

h2, h3, h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

.showcase {
  position: relative;
  height: 100vh;
  background: url("../img/jeff-sheldon-9dI3g8owHiI-unsplash.jpg") no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
}

.showcase:after {
  content: '';
  position: absolute;
  background-color: rgba(14, 14, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(89, 177, 248, 0.1)), to(rgba(89, 45, 255, 0.1)));
  background-image: linear-gradient(to right bottom, rgba(89, 177, 248, 0.1), rgba(89, 45, 255, 0.1));
}

.showcase .content {
  z-index: 2;
}

.showcase .content h1 {
  font-weight: 400;
  font-size: 4rem;
  letter-spacing: -0.05rem;
  line-height: 1.5;
  margin: 8rem auto 0 auto;
}

.showcase .content h1 span.name {
  color: #04dbe2;
}

.to-top {
  background: #04dbe2;
  position: fixed;
  bottom: 0.3rem;
  right: 1.5%;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  color: white;
  opacity: 0;
  z-index: 3;
  pointer-events: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.to-top.active {
  pointer-events: auto;
  opacity: 1;
}

.txt {
  border-right: 0.2rem solid #777;
}

a.btn {
  color: white;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

a.btn:hover {
  color: #333;
  border: 1px solid #04dbe2;
}

a.btn:focus {
  color: #FFF;
}

.btn {
  margin-top: 4rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 240px;
  padding: 14px 0px;
  border: 1px solid #04dbe2;
  border-radius: 2px;
  position: relative;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.btn:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background: #04dbe2;
  z-index: -2;
}

.btn:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

#main-nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: rgba(97, 82, 121, 0.1);
  border-bottom: 1px solid #b3b1b1;
}

#main-nav ul.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
  margin-right: 10%;
}

#main-nav a {
  position: relative;
  padding: 0 1rem;
  color: white;
  font-size: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main-nav a:after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -5px;
  left: 0;
  height: 2px;
  background: #04dbe2;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: -webkit-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

#main-nav a:hover {
  color: #04dbe2;
}

#main-nav a:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
}

#main-nav a.current {
  color: #04dbe2;
}

#main-nav .burger {
  margin: 0.8rem;
  display: none;
}

#main-nav .burger div {
  width: 2rem;
  height: 0.2rem;
  background-color: white;
  margin: 0.3rem;
}

#about .bg-light {
  background: #f3f3f3;
}

#about .container .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

#about .container .img-wrapper .img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#about .container .img-wrapper .img img {
  width: 70%;
  margin: 0 15%;
  border-radius: 50%;
}

#about .container .img-wrapper .about-info {
  text-align: justify;
  line-height: 1.7;
  border-left: 3px solid #04dbe2;
}

#about .skills {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3rem;
}

#about .skills .skills-item {
  width: 46%;
  height: 2rem;
  margin: 0.7rem 1%;
  background: #04dbe2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 1.2rem;
}

#about .skills .skills-item i {
  margin: 0.5rem;
}

.items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  margin-bottom: 10rem;
}

.item {
  position: relative;
  background: #04dbe2;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.item::after {
  content: '';
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
          transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  -webkit-transition: -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  transition: -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}

.item:hover:after {
  -webkit-transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
          transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

.item:hover .item-image {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.item:hover .item-text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.item-image {
  height: auto;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  display: block;
  -webkit-transition: -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}

.item-image:before {
  content: '';
  display: block;
  padding-top: 75%;
  overflow: hidden;
}

.item-image img {
  position: absolute;
  top: 0;
  left: -17%;
  width: auto;
  height: 100%;
  line-height: 0;
}

.item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #1a1919;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1) transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1) transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.item-text-wrap {
  position: absolute;
  width: 100%;
  top: 30%;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

.item-text-wrap .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -3rem;
}

.item-text-wrap .social a {
  color: white;
  display: inline-block;
}

.item-text-wrap .social a.btn {
  background: transparent;
  width: 180px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.item-text-wrap .social a.btn:hover {
  color: #1a1919;
  background: white;
}

.item-text-wrap .social a i.fab {
  margin-top: 50px;
}

.item-text-wrap .social a i.fab:hover {
  color: #1a1919;
}

.item-text-title {
  font-size: 1.8rem;
  margin-top: -3rem;
}

.item-text-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.8;
}

#contact .text-fields {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'name email' 'subject phone' 'message message';
  grid-gap: 1.2rem;
  margin-bottom: 1.2rem;
}

#contact .text-fields input, #contact .text-fields textarea {
  background: #1a1919;
  color: #b3b1b1;
  border: none;
}

#contact .text-fields .name-input {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

#contact .text-fields .subject-input {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subject;
}

#contact .text-fields .email-input {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: email;
}

#contact .text-fields .phone-input {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: phone;
}

#contact .text-fields .message-input {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
  height: 100px;
}

#contact .text-fields .text-input {
  padding: 0.5rem 1rem;
}

#contact button[type='Submit'] {
  width: 50%;
  margin: 2rem 25% 10rem 25%;
  display: inline-block;
  padding: 0.8rem 2rem;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  border: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  border-radius: 2px;
}

#contact button[type='Submit'] span {
  position: relative;
}

#contact button[type='Submit']:before {
  -webkit-transition: 0.7s all ease;
  transition: 0.7s all ease;
  position: absolute;
  top: 0;
  left: 80%;
  right: 80%;
  bottom: 0;
  opacity: 0;
  content: '';
  background: #04dbe2;
  z-index: -2;
}

#contact button[type='Submit']:hover {
  color: #333;
  border: 1px solid #04dbe2;
}

#contact button[type='Submit']:hover:before {
  -webkit-transition: 0.7s all ease;
  transition: 0.7s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 0;
}

#contact .bg-dark {
  background: #585858;
}

#contact .bg-dark .header {
  color: white;
}

#contact .bg-dark .header-bar {
  background: white;
}

#contact .bg-dark .header-bar + p {
  color: #04dbe2;
  font-size: 1.3rem;
}

#contact .contact-info {
  padding: 3rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#contact .contact-info div {
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 3rem 1rem;
  margin: 0 1rem;
  background: #b3b1b1;
}

#contact .contact-info p {
  padding: 0 3rem;
}

#footer {
  background: #1a1919;
  color: #fff;
  height: 5rem;
}

#footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-content p {
  margin-left: 0;
  padding: 0;
  color: #b3b1b1;
}

#footer .footer-content .social {
  margin-right: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .footer-content .social .fab {
  color: #b3b1b1;
  margin: 0rem -0.8rem;
}

#footer .footer-content .social .fab:hover {
  color: #04dbe2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=main.css.map */